{{!-- Setup the index.handlebars to have the template that Handlebars can render onto. --}}
<div class="container">
  <div class="jumbotron text-center">
    <h1 class="display-4">EAT - DA - BURGER</h1>
    <h3 class="lead">Order a burger of your choice! And then DEVOUR IT!!</h3>
    <hr class="my-4">
  </div>
</div>
{{!-- container to push info into --}}
<div class="container text-center">
  <div class="row">
    <div class="col">
      <h3><u>READY TO DEVOUR</u> <i class="fas fa-hamburger"></i></h3>

    <ul class="text-center">
      {{#each burgers}}
        {{#unless devoured}}
          <h4>{{burger_name}} <button class="devourBtn btn btn-warning" data-id="{{id}}">Devour <i class="fas fa-hamburger"></i>!</button>
          <button class="deleteBtn btn btn-info" data-id="{{id}}"><i class="fas fa-trash-alt"></i></button></h4>

        {{/unless}}
      {{/each}}
    </ul>

    </div>
    <div class="col">
     <img src="https://media.giphy.com/media/JteZf56ZXsJl6/giphy.gif" height="250px" width="auto" alt="burger"/>
    </div>
    <div class="col">
      <h3><u>DEVOURED</u> <i class="far fa-smile-beam"></i></h3>

    <ul class="text-center">
      {{#each burgers}}
        {{#if devoured}}
          <h4>{{burger_name}}  <button class="deleteBtn btn btn-info" data-id="{{id}}"><i class="fas fa-trash-alt"></i></button></h4>
            {{!-- <button class="unDevourBtn" data-id="{{id}}">Undevour</button> --}}
        {{/if}}
      {{/each}}
    </ul>

    </div>
  </div>
</div>
{{!-- Create a button in index.handlebars that will submit the user input into the database. --}}
<div class="container">
  <div class="input-group mb-3 text-center">
    <input id="burger-name" type="text" class="form-control" placeholder="What kinda burger you feelin'?" aria-label="burger-name" aria-describedby="button-addon2">
    <div class="input-group-append">
      <button class="submitBtn btn btn-warning" type="submit" id="button-addon2">BURGER IT UP</button>
    </div>
  </div>
</div>
{{!-- <button type="submit">Add Burger</button> --}}
{{!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> --}}
